# Core data science libraries
pandas
pyarrow
scikit-learn
yfinance==0.2.65
jupyter

# Time Series Analysis
statsmodels
xgboost
tensorflow

# Visualization
matplotlib
seaborn

# Validation and code quality tools
pre-commit==3.3.3
black==23.3.0
isort==5.12.0
flake8==6.0.0
flake8-builtins==2.1.0
flake8-pytest-style==1.7.2
flake8-variables-names==0.0.5
flake8-simplify==0.20.0
mypy==1.3.0
bandit==1.7.5

# Testing
pytest==7.4.0
pytest-cov==4.1.0

# Type hints
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-setuptools==68.0.0.1
types-python-dateutil==2.8.19.13
